*.suo
*.opendb
*.db
*.log
*.tlog
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.dll
*.lib
*.exp
*.ipdb
*.iobj
*.cache
/VulkanTutorial/.vs/VulkanTutorial/v15/ipch/AutoPCH/1ead10ff756af241/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v15/ipch/AutoPCH/a4053560da6730ea/*.ipch
/VulkanTutorial/.vs/VulkanTutorial/v15/ipch/AutoPCH/ab8c1df2a380042/*.ipch
*.ipch
